.hero .mouse {
  position: absolute;
  bottom: 2rem;
}

@keyframes scrollDown {
  0%, 20% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 25px, 0);
    opacity: 0;
  }
}

#mouse-icon #scroll-pointer {
  animation: scrollDown 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  fill: #008191;
}

.hero {
  /*background-color: #fcfff6;*/
  /*background-image: url([svg]);*/
  /*width: 100%;*/
  margin: 0 auto;
  /*height: 100vh;*/
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-bottom: 5px solid #193441;*/
  margin-top: 62px;
}

#Rectangle-4 {
  /*fill: #24A1AC;*/
}

@media (min-height:800px) {
  .mouse {
    display: none;
  }
}

@media (max-height:800px) {
  .toHide {
    display: none;
  }
}

